<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Rain</h1>
                <span class="footer__subtitle">pystander@GitHub</span>
            </div>

            <ul class="footer__links">
                <li>
                    <a href="#about" class="footer__link">About</a>
                </li>

                <li>
                    <a href="#skills" class="footer__link">Skills</a>
                </li>

                <li>
                    <a href="#qualification" class="footer__link">Qualification</a>
                </li>

                <li>
                    <a href="#portfolio" class="footer__link">Portfolio</a>
                </li>

                <li>
                    <a href="#contact" class="footer__link">Contact</a>
                </li>
            </ul>

            <div class="footer__socials">
                <a href="https://www.linkedin.com/in/rain-leung-pystander" target="_blank" class="footer__social">
                    <i class="uil uil-linkedin"></i>
                </a>

                <a href="https://www.github.com/pystander" target="_blank" class="footer__social">
                    <i class="uil uil-github"></i>
                </a>
            </div>
        </div>

        <!-- <p class="footer__copy">&#169; Rain Leung. All right reserved.</p> -->
    </div>
</footer>
