<!-- This portfolio is based on boilerplate from https://github.com/bedimcode/responsive-portfolio-website-Alexa -->
<!-- and https://www.youtube.com/watch?v=27JtRAI3QO8 -->

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
        <link href="/favicon.ico" type="image/x-icon" rel="icon" />

        <!--==================== SWIPER CSS ====================-->
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="assets/css/styles.css">

        <title>Rain Leung</title>
    </head>

    <body>
        <!--==================== HEADER ====================-->
        {% include header.html %}

        <!--==================== MAIN ====================-->
        <main class="main">

            {% assign sections = site.sections | sort: 'order' %}
            {% for section in sections %}
                {% if section.include != null %}
                    {% include {{ section.include }} %}
                {% endif %}
            {% endfor %}

        </main>

        <!--==================== FOOTER ====================-->
        {% include footer.html %}

        <!--==================== SCROLL TOP ====================-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="uil uil-arrow-up scrollup__icon"></i>
        </a>

        <!--==================== SWIPER JS ====================-->
        <script src="assets/js/swiper-bundle.min.js"></script>

        <!--==================== MAIN JS ====================-->
        <script src="assets/js/main.js"></script>
    </body>
</html>